body {
    height: auto;
    width: auto;
    background: rgba(40,84,108,1);/* Old Browsers */
    background: -moz-linear-gradient(-45deg, rgba(40,84,108,1) 0%, rgba(17,59,81,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(40,84,108,1)), color-stop(100%, rgba(17,59,81,1)));/* Chrome, Safari4+ */
    background: -webkit-linear-gradient(-45deg, rgba(40,84,108,1) 0%, rgba(17,59,81,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, rgba(40,84,108,1) 0%, rgba(17,59,81,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, rgba(40,84,108,1) 0%, rgba(17,59,81,1) 100%); /* IE 10+ */
    background: linear-gradient(135deg, rgba(40,84,108,1) 0%, rgba(17,59,81,1) 100%);/* W3C */
}
main {
    max-width: 900px;
    min-width: 450px;
    min-height: 200px;
    margin: 50px auto;
    padding: 50px;
    border-radius: 20px;
    background: rgba(111,144,162,1);/* Old Browsers */
    background: -moz-linear-gradient(-45deg, rgba(111,144,162,1) 0%, rgba(40,84,108,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(111,144,162,1)), color-stop(100%, rgba(40,84,108,1)));/* Chrome, Safari4+ */
    background: -webkit-linear-gradient(-45deg, rgba(111,144,162,1) 0%, rgba(40,84,108,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, rgba(111,144,162,1) 0%, rgba(40,84,108,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, rgba(111,144,162,1) 0%, rgba(40,84,108,1) 100%); /* IE 10+ */
    background: linear-gradient(135deg, rgba(111,144,162,1) 0%, rgba(40,84,108,1) 100%);/* W3C */        
    -webkit-box-shadow: 10px 10px 20px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 20px 5px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 20px 5px rgba(0,0,0,0.75);
}
article {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
}
header {
    display:flex; 
    justify-content:space-around;
    align-items:center;
    font-family: 'Comfortaa', cursive;
    font-size: 2em;
}
img {
    height: 200px;
    border-radius: 20px;
    -webkit-box-shadow: 10px 10px 20px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 20px 5px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 20px 5px rgba(0,0,0,0.75);
}
h2 {
    font-weight: bold;
    font-size: 1.2em;
    border-bottom: 1px solid #CCC;
}
p {

}
ul {

}